{{#each this}}
<li class="country__item">
    <img class="country__flag" src={{flags.svg}} alt={{name.official}}/>
	<div>
    	<span class="bold-text">{{name.common}}</span> ({{name.official}})
	</div>
</li>
{{/each}}